nesta_ds_utils @ git+https://github.com/nestauk/nesta_ds_utils.git
spacy==3.4.0
pandas
metaflow==2.7.14
toolz==0.12.0
boto3>=1.23.0
pyarrow==10.0.0
fsspec==2021.11.0
metaflow==2.7.14
s3fs==2021.11.0
google-cloud-bigquery==3.4.0
google-cloud-bigquery-storage==2.16.2
db-dtypes
